.box h1{
    border-left: 200px;
   font-size: 80px;
   text-align: center;
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}
.row h2{
    border-left: 200px;
    font-size: 80px;
    text-align: center;
}